.content_container {
  width: 100%;
  min-height: 100%;
  border: 1px solid $border_color;
  background: $primary_color;
  border-radius: 15px;
}
h1 {
  font-size: 24px;
  color: #fff;
}
p {
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 3rem;
}
